{% extends 'baseSecurity.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="auth-wrapper">
    <div class="container-fluid h-100">
        <div class="row flex-row h-100 bg-white">
            <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                <div class="lavalite-bg" style="background-image: url('img/auth/login-bg.jpg')">
                    <div class="lavalite-overlay"></div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                <div class="authentication-form mx-auto">
                    <div class="logo-centered">
                        <a href="{{path('home')}}"><img src="img/brand.svg" alt=""></a>
                    </div>
                    <h3>Sign In to ThemeKit</h3>
                    {% if app.user %}
                    <p> You are logged in as {{ app.user.username }}</p>
                    {% else %}
                    <p>Happy to see you again!</p>
                    {% endif %}

                    <form method="post">
                        {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <input type="email" value="{{ last_username }}" name="email" class="form-control"
                                placeholder="Email" required autofocus>
                            <i class="ik ik-user"></i>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                            <i class="ik ik-lock"></i>
                        </div>
                        <div class="row">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            {#
                                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                        See https://symfony.com/doc/current/security/remember_me.html

                                        <div class="checkbox mb-3">
                                            <label>
                                                <input type="checkbox" name="_remember_me"> Remember me
                                            </label>
                                        </div>
                                    #}

                            <div class="col text-left">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="item_checkbox"
                                        name="item_checkbox" value="option1">
                                    <span class="custom-control-label">&nbsp;Remember Me</span>
                                </label>
                            </div>
                            <div class="col text-right">
                                <a href="forgot-password.html">Forgot Password ?</a>
                            </div>
                        </div>
                        <div class="sign-btn text-center">
                            {% if app.user %}
                            <!-- You are logged in as {{ app.user.username }}, -->
                            <a class="btn btn-theme" href="{{ path('app_logout') }}">Logout</a>
                            {% else %}
                            <button class="btn btn-theme" type="submit">Sign In</button>

                            {% endif %}
                        </div>
                    </form>
                    <div class="register">
                        <p>Don't have an account? <a href="{{path('user.register')}}">Create an account</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}