{% extends 'baseAdmin.html.twig' %}

{% block title %}
Post
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('plugins/admin/datatables.net-bs4/css/dataTables.bootstrap4.min.css')}}">

{% endblock %}

{% block body %}
<div class="main-content">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row align-items-end">
        <div class="col-lg-8">
          <div class="page-header-title">
            <i class="ik ik-inbox bg-blue"></i>
            <div class="d-inline">
              <h5>List</h5>
              <span>Post</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <nav class="breadcrumb-container" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="../index.html"><i class="ik ik-home"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Post</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">List</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <!-- <div class="card-header">
            <h3>Data Table</h3>
          </div> -->
          <div class="card-body">
            <a class="btn btn-primary float-right" href="{{path('post.add')}}" role="button">Create new post</a>
            <table id="data_table" class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th class="nosort">Image</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th class="nosort">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                {% for post in posts %}
                <tr>
                  <td> {{loop.index}} </td>
                  <td><img src="{{asset('uploads/'~post.image)}}" class="table-user-thumb" alt=""></td>
                  <td> {{post.title}} </td>
                  <td>Publier</td>
                  <td>

                    <div class="table-actions">
                      <!-- <a href="{{path('post.show',{id:post.id})}}"><i class="ik ik-eye text-secondary"></i></a> -->
                      <a href="{{path('post.edit',{id:post.id})}}"><i class="ik ik-edit-2 text-info"></i></a>
                      <form method="post" action="{{path('post.delete',{id:post.id})}}" style="display:inline-block"
                        onsubmit="return confirm('Etes vous vraiment sur?')">
                        <input name="_method" type="hidden" value="DELETE">
                        <input type="hidden" name="_token" value="{{csrf_token('delete'~ post.id)}}">
                        <button class="btn btn-link nounderline">
                          <i class="ik ik-trash-2 text-danger"></i>
                        </button>
                      </form>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block javascripts %}

<script src="{{asset('plugins/admin/datatables.net/js/jquery.dataTables.min.js')}}"></script>
<script src="{{asset('plugins/admin/datatables.net-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
<script src="{{asset('plugins/admin/datatables.js')}}"></script>

{% endblock %}